@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white overflow-hidden box-border text-white;
  }
}

.background {
  background: linear-gradient(-15deg, #f5bc54, #ed4167, #f5bc54);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card {
  background: linear-gradient(114deg, rgba(255, 255, 255, 0.25) 7.08%, rgba(255, 255, 255, 0.25) 36.18%, rgba(255, 255, 255, 0.05) 85.2%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(20px);

}