@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white box-border font-robotoFlex font-medium text-lg overflow-x-hidden selection:bg-trans-white;
  }
}

@font-face {
  font-family: "Roboto Flex";
  src: url("../public/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Medium.ttf");
  font-display: swap;
}


.background {
  /*signature background gradient animation*/
  background: linear-gradient(-15deg, #f5bc54, #ed4167, #f5bc54);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.background-projects {
  background: linear-gradient(-15deg, #f5bc54, #ed4167, #f5bc54);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*custom CSS*/


.card {
  /* glassmorphic effect main content wrapper on index*/
  background: linear-gradient(114deg,
      rgba(255, 255, 255, 0.25) 7.08%,
      rgba(255, 255, 255, 0.25) 36.18%,
      rgba(255, 255, 255, 0.05) 85.2%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(20px);
}

.card-noise {
  background-image: url("../public/images/card-noise.webp");
  
}

.card-width-main {
  max-width: 894px;
  width: 100%;
}


.h1-projects {
  color: #483434;
  font-variation-settings: 'wght' 800, 'wdth' 300;
}

.h2-projects {
  color: white;
  font-variation-settings: 'wght' 800, 'wdth' 300;
}

.variable-semibold {
  font-variation-settings: 'wght' 600;
}

/* width */
.windows-scrollbars *::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.windows-scrollbars *::-webkit-scrollbar-track {
  
}

/* Handle */
.windows-scrollbars *::-webkit-scrollbar-thumb {
  background: #483434; 
  border-radius: 30px;
}

/* Handle on hover */
.card::-webkit-scrollbar-thumb:hover {
  background: #483434;
}



.filter-select-desktop {
  display: none
}



@media screen and (max-height: 800px) {
  .filter-list-desktop {
    display: none
  }

  .filter-select-desktop {
    display: flex
  }

  

  /*TODO: show select*/
}
.text-container {
  width: 5rem;
  white-space: nowrap;
  overflow: hidden;
}

.text-scroll {
  display: inline-block;
  position: relative;
  animation: 5s linear 2s infinite alternate text-overflow-scroll;
}

@keyframes text-overflow-scroll {
  0%, 20% {
    transform: translateX(0%);
    left: 0%;
  }
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}



@keyframes move{
  0%, 10%  { top: 0rem; }
  19%, 20%  { top: -2.25rem; }
  29%, 30% { top: -4.5rem; }
  39%, 40% { top: -6.75rem; }
  49%, 50% { top: -9rem; }
  59%, 100% { top: 0rem; }
}

@keyframes move2{
  0%, 10%  { top: 0rem; }
  19%, 20%  { top: -28px; }
  29%, 30% { top: -56px; }
  39%, 40% { top: -84px; }
  49%, 50% { top: -113px; }
  59%, 100% { top: 0rem; }
}

.richtext h2{
  font-size: 1.25rem/* 24px */;
  line-height: 1.75rem/* 32px */;
  margin-bottom: 0.5rem;
  font-variation-settings: 'wght' 800, 'wdth' 300;
}


.richtext h3{
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  font-variation-settings: 'wght' 800, 'wdth' 300;
}

.richtext li {
  padding-top: 5px;
}

.richtext a{
  text-decoration: underline solid 2px;
}

.animation-prefix p {
  height: 1.75rem;
  float: left;
}

.animation-prefix {
  overflow: hidden;
  position: relative;
  height: 1.75rem;
  top: 0px;
}
.animation-prefix .animation-subject {
  display: inline-block;
  color: #ffffff;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: 7s cubic-bezier(0.4, 0, 0.2, 1) infinite move2;
}

.Toastify__toast {

  border-radius: 15px!important;
  padding-bottom: 15px!important;
  padding-top: 15px!important;
}


@media screen and (max-width: 1024px) { 
  .filter-select-desktop {
    display: flex
  }

  .filter-list-desktop {
    display: none
  }

  .background-projects {
    background: linear-gradient(#F06063, #F3905C);
    background-size: 100% 100%;
    animation: none;
  }

  .Toastify__toast {

    border-radius: 15px!important;
    padding-bottom: 15px!important;
    padding-top: 15px!important;
    margin-bottom: 20px!important
  }

}

@media screen and (min-width: 1025px) { 
  .animation-prefix p {
    height: 2.25rem;
    float: left;
  }
  
  .animation-prefix {
    overflow: hidden;
    position: relative;
    height: 2.25rem;
    top: 0px;
  }
  .animation-prefix .animation-subject {
    display: inline-block;
    color: #ffffff;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation: 7s cubic-bezier(0.4, 0, 0.2, 1) infinite move;
  }
}

:root {
  --toastify-color-progress-light: #483434!important
}

