@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white overflow-hidden box-border font-robotoFlex font-medium text-lg;
  }
}

@font-face {
  font-family: "Roboto Flex";
  src: url("../public/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
}

.background {
  /*signature background gradient animation*/
  background: linear-gradient(-15deg, #f5bc54, #ed4167, #f5bc54);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*custom CSS*/


.card {
  /* glassmorphic effect main content wrapper on index*/
  background: linear-gradient(114deg,
      rgba(255, 255, 255, 0.25) 7.08%,
      rgba(255, 255, 255, 0.25) 36.18%,
      rgba(255, 255, 255, 0.05) 85.2%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(20px);
}


.h1-projects {
  color: #483434;
  font-variation-settings: 'wght' 850, 'wdth' 300;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #483434; 
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #483434;
}

.filter-select-desktop {
  display: none
}

@media screen and (max-height: 570px) {
  .filter-list-desktop {
    display: none
  }

  .filter-select-desktop {
    display: flex
  }

  /*TODO: show select*/
}
.text-container {
  width: 5rem;
  white-space: nowrap;
  overflow: hidden;
}

.text-scroll {
  display: inline-block;
  position: relative;
  animation: 5s linear 2s infinite alternate advanced;
}

@keyframes advanced {
  0%, 20% {
    transform: translateX(0%);
    left: 0%;
  }
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}